- var menus = ['新建博文','博文列表','用户管理'];
- var settings=['全局设置','导航菜单','标签管理','插入代码','实验功能'];
doctype html
html(lang='zh')
    head
        title 点滴日记
        link(rel='stylesheet',href='/assets/css/pure-min.css')
        link(rel='stylesheet',href='/assets/css/admin.css')
    body
        div.pure-g#layout
            div.pure-u#nav
                a.nav-menu-button 菜单
                div.nav-inner
                    a.primary-button.pure-button(href='#') 首页
                    div.pure-menu
                        ul.pure-menu-list
                            each menu in menus 
                                li.pure-menu-item
                                    a.pure-menu-link(href='#')=menu
                            li.pure-menu-heading 设置
                            each setting in settings 
                                li.pure-menu-item
                                    a.pure-menu-link(href='#')=setting
                            
            div.pure-u-1#list
            div.pure-u-1#main
                   
                
            