- var menus = [{name:'新建博文',url:'/admin/editor'},{name:'博文列表',url:'/admin/list'},{name:'用户管理',url:'/admin/team'}];
- var settings=['全局设置','导航菜单','标签管理','插入代码','实验功能'];
doctype html
html(lang='zh')
    head      
        link(rel='stylesheet',href='/assets/css/admin.css')
        block title
            title 点滴日记
    body       
        block content                
                   
                
            